
<div>
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-info fixed-top">
        <div class="navbar-brand">
        <i class="fa fa-buysellads fa-2x"></i>
        </div>
      <a class="navbar-brand" href="#">
      <h4> RECRUITMENT  </h4>
      </a>
      <!-- LogOut -->
      <app-auth></app-auth>
      </nav>
      </header>

   
  <div class="container">
    <router-outlet></router-outlet>
  </div>


  <footer class="footer fixed-bottom bg-dark ">
    <div class="container-fluid ">
      <div class="row ">
        <div class="col-lg-12 text-center ">
          <span class="text-white">Acheron Software Consultancy Pvt. Ltd. Copyright © 2018. All rights reserved</span>
        </div>
        <div class="col-lg-12 text-center float-right">
          <span class="text-white">Powered by Priyanka - Ankit</span>
        </div>
      </div>
    </div>
  </footer>
</div>






