  <main class="bg-cGrey mt-5">
    <div class="mainImg position-relative mx-auto">
      <div class="container-fluid">
        <div class="row p-5">
          <div class="col-lg-4">
            <div class="row">
              <div class="display-4">
                  Careers
              </div>
              <div class="my-5 ">
                <h3>We Aim at creating a better way to work in the
                    age of Digital Disruption.</h3>
                <p class="float-right h4"> - Acheron</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8 ">
          </div>
        </div>
      </div>
    </div>
  </main>
      
             
 