/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

@import "../node_modules/font-awesome/css/font-awesome.css";




body {
    font-family: "Lato", sans-serif;
}
.bg-grey{
    background-color:#f4f5f7;
}
.bg-info {
    background-color: #8d4f92!important;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #efc8ec;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 48px;
}
.sidenav a {
border-bottom: 1px solid #fff;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #0a0a0a;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #8d4f92;

}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

