<div class="col-lg-8 offset-4">
  <div class="sidenav">
      <a  routerLink="/add" class="btn " >Applicants</a>
      <a routerLink="/show" class="btn" >Post Job</a>
      <a  routerLink="/edit/:id" class="btn " >Round1</a>
      <a routerLink="/add" class="btn " >Round2</a>
      <a  routerLink="/add" class="btn">Add Employee</a>
    </div>
</div>